@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile_container {
  position: relative;
  width: 88px;
  height: 88px;
}

.profile_container .profile_img {
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.profile_container:hover .profile_img {
  opacity: 0.3;
}

.profile_container .camera_img {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.profile_container:hover .camera_img {
  opacity: 1;
}

.profile_container:focus {
  border: 5.5px solid #ebe9fe;
}

.profile_heading {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.875rem;
  text-align: center;
  color: #101828;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.share_tip {
  border-radius: 8px !important;
}

.btn_share {
  position: absolute;
  top: 7%;
  right: 20%;
}

.btn_share:focus {
  outline: none;
  background: #f2f4f7;
  border: 1px solid #d0d5dd;
  border-radius: 20px;
}

@media screen and (max-width: 767px) {
  .btn_share {
    display: none;
  }

  .btn_share_mobile {
    position: absolute;
    top: 7%;
    right: 0;
    margin-right: 4%;
  }

  .btn_share_mobile:focus {
    outline: none;
    background: #ffffff;
    border: 1px dashed #d0d5dd;
    box-shadow: 0px 0px 0px 4px #f2f4f7;
  }
}

@media screen and (min-width: 768px) {
  .btn_share_mobile {
    display: none;
  }
}
